@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../images/login-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.login {
    z-index: 2;
    position: absolute;
    width: 350px;
    border-radius: 5px;
    height: 500px;
    background: white;
    opacity: 0.8;
    box-shadow: 0px 0 5px #333333;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -175px;
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari å’Œ Chrome */
    -o-transition: all 1s; /* Opera */
}

.login-top {
    font-size: 24px;
    margin-top: 100px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #333333;
    margin-bottom: 50px;
}

.login-center {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 30px;
}

.login-center-img {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
}

.login-center-img > img {
    width: 100%;
}

.login-center-input {
    float: left;
    width: 230px;
    margin-left: 15px;
    height: 30px;
    position: relative;
}

.login-center-input input {
    z-index: 2;
    transition: all 0.5s;
    padding-left: 10px;
    color: #333333;
    width: 100%;
    height: 30px;
    border: 1px solid #ffffff;
    border-bottom-color: #cccccc;
    box-sizing: border-box;
    outline: none;
    position: relative;
}

.login-center-input input:focus {
    border: 1px solid dodgerblue;
}

.login-center-input-text {
    background: white;
    padding: 0 5px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    font-size: 14px;
    left: 5px;
    color: dodgerblue;
    line-height: 20px;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari å’Œ Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.login-center-input input:focus ~ .login-center-input-text {
    top: 0;
    z-index: 3;
    opacity: 1;
    margin-top: -15px;
}

.login.active {
    -webkit-animation: login-small 0.8s;
    animation: login-small 0.8s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards
}

.login-button {
    cursor: pointer;
    width: 250px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: dodgerblue;
    border-radius: 5px;
    margin: 50px auto 0;
    color: white;
}

#particles-js section {
    text-align: center;
}

* {
    box-sizing: content-box;
}

a:hover, a:focus {
    text-decoration: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

fieldset, img {
    border: 0;
}

img {
    vertical-align: top;
    max-width: 100%;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

*:first-child + html .clearfix {
    zoom: 1;
}

#captcha-img {
    float: left;
    width: 100px;
    margin-left: 5px;
}

#captcha-img:hover {
    cursor: pointer;
}

#captcha {
    width: 125px;
    float: left;
}

#error-info {
    font-size: 0.9em;
    padding: 8px 0;
    background-color: #fadcd3;
    width: 100%;
    text-align: center;
    margin-top: -33px;
}

.login-button {
    border-width: 0;
}