#login-region {
    width: 14%;
    border: 2px solid deepskyblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10% !important;
}

#login-region legend {
    font-size: 28px;
    color: deepskyblue;
    font-weight: bold;
}

#login-region form {
    margin-left: 10%;
}

#captcha-img {
    float: left;
    width: 100px;
    margin-left: 5px;
}

#login-btn {
    width: 96px;
}

#captcha-img:hover {
    cursor: pointer;
}

.layui-form-label {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 40px !important;
}

.layui-input-block {
    margin-left: 40px !important;
    width: 180px !important;
}

#captcha {
    width: 75px;
    float: left;
}

#error-info {
    font-size: 0.8em;
    padding: 8px 0 8px 10px;
    background-color: #fadcd3;
    width: 210px;
}