<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>CAS Server</title>
    <!-- 公共文件引入 -->
    <div th:replace="/common/common_js_css :: common_js_css"></div>
    <!-- 定制文件引入 -->
    <link rel="stylesheet" th:href="@{${#themes.code('mojitoming.standard.css.file')}}">
    <script th:src="@{${#themes.code('mojitoming.javascript.file')}}"></script>
</head>
<body>
    <div id="particles-js">
        <form method="post" th:object="${credential}">
            <div class="login">
                <div class="login-top">
                    登录（LOGIN）
                </div>
                <!-- 错误信息 -->
                <div th:if="${#fields.hasErrors('*')}">
                    <div id="error-info" class="layui-form-item">
                        <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
                    </div>
                </div>
                <div class="login-center clearfix">
                    <div class="login-center-img"><img th:src="@{/themes/mojitoming/images/icons/name.png}"></div>
                    <div class="login-center-input">
                        <input type="text" name="" value="" placeholder="请输入用户名" onfocus="this.placeholder=&#39;&#39;"
                               onblur="this.placeholder=&#39;请输入用户名&#39;" th:field="*{username}" id="username">
                        <div class="login-center-input-text">用户名</div>
                    </div>
                </div>
                <div class="login-center clearfix">
                    <div class="login-center-img"><img th:src="@{/themes/mojitoming/images/icons/password.png}"></div>
                    <div class="login-center-input">
                        <input type="password" name="" value="" placeholder="请输入密码" onfocus="this.placeholder=&#39;&#39;"
                               onblur="this.placeholder=&#39;请输入密码&#39;" th:field="*{password}" id="password">
                        <div class="login-center-input-text">密码</div>
                    </div>
                </div>
                <div class="login-center clearfix">
                    <div class="login-center-img"><img th:src="@{/themes/mojitoming/images/icons/captcha.png}"></div>
                    <div class="login-center-input">
                        <input type="text" name="" value="" placeholder="请输入验证码" onfocus="this.placeholder=&#39;&#39;"
                               onblur="this.placeholder=&#39;请输入验证码&#39;" th:field="*{captcha}" id="captcha" autocomplete="off">
                        <img id="captcha-img" th:src="@{/kaptcha}" alt="验证码" onclick="changeCode()">
                        <div class="login-center-input-text">验证码</div>
                    </div>
                </div>
                <section class="login-button">
                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                    <input type="hidden" name="_eventId" value="submit"/>
                    <input type="hidden" name="geolocation"/>
                    <input id="login-btn" name="submit" accesskey="l" th:value="#{screen.welcome.button.login}" tabindex="6" type="submit"/>
                </section>
            </div>
        </form>
    </div>

</body>
</html>
