<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>CAS Server</title>
    <!-- 公共文件引入 -->
    <div th:replace="/common/common_js_css :: common_js_css"></div>
    <!-- 定制文件引入 -->
    <link rel="stylesheet" th:href="@{${#themes.code('mojitoming.standard.css.file')}}">
    <script th:src="@{${#themes.code('mojitoming.javascript.file')}}"></script>
</head>
<body>
    <div class="layui-container-fluid">
        <fieldset id="login-region" class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>Login</legend>
            <div class="layui-field-box">
                <!--/*@thymesVar id="credential" type=""*/-->
                <form class="layui-form layui-form-pane" method="post" th:object="${credential}">
                    <!-- 错误信息 -->
                    <div th:if="${#fields.hasErrors('*')}">
                        <div id="error-info" class="layui-form-item">
                            <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i></label>
                        <div class="layui-input-block">
                            <input th:field="*{username}" type="text" id="username" name="username" lay-verify="username" placeholder="用户名"
                                   autocomplete="off" class="layui-input" lay-verType="tips">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i></label>
                        <div class="layui-input-block">
                            <input th:field="*{password}" type="password" id="password" name="password" lay-verify="password" placeholder="密码"
                                   autocomplete="off" class="layui-input" lay-verType="tips">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i class="layui-icon layui-icon-vercode"></i></label>
                        <div class="layui-input-block">
                            <input th:field="*{captcha}" type="text" id="captcha" name="captcha" lay-verify="captcha" placeholder="验证码"
                                   autocomplete="off" class="layui-input" lay-verType="tips">

                            <img id="captcha-img" th:src="@{/kaptcha}" alt="验证码" onclick="changeCode()">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <section>
                                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                                <input type="hidden" name="_eventId" value="submit"/>
                                <input type="hidden" name="geolocation"/>
                                <input id="login-btn" class="btn btn-submit btn-block layui-btn layui-btn-normal" name="submit" accesskey="l"
                                       th:value="#{screen.welcome.button.login}" tabindex="6" type="submit" lay-submit=""/>
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</body>
</html>
